<flash-messages></flash-messages>
<div class="form-bg">

  <div class="container">

      <div class="row">

          <div style="margin: 30px;">
              <div class="form-container">

                  <div class="left-content">
                      <h3 class="title">Charity For ALL</h3>
                      <h4 class="sub-title">Even small donations can give big smiles</h4>
                  </div>
                  <div class="right-content">
                    <h6 class="form-title">Login/Espace Donneur</h6>

                      <form class="form-horizontal">
                          <div class="form-group">
                          <label>Username / Email</label>
                              <input type="email" class="form-control" [(ngModel)]="user.username" name="username">
                          </div>
                          <div class="form-group">
                          <label>Password</label>
                              <input type="password" class="form-control" [(ngModel)]="user.password" name="password">
                          </div>
                          <button class="btn signin" (click)="login()">Login</button>
                          <div class="remember-me">
                              <input type="checkbox" class="checkbox">
                              <span class="check-label">Remember Me</span>
                          </div>
                          <a href="" class="forgot">Forgot Password</a>
                      </form>
                      <span class="separator">OR</span>
                      <ul class="social-links">
                          <li><a href=""><i class="fab fa-google"></i> Login with Google</a></li>
                          <li><a href=""><i class="fab fa-facebook-f"></i> Login with Facebook</a></li>
                      </ul>
                      <span class="signup-link">Don't have an account? Sign up <a href="">here</a></span>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
