<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
 Charity For ALL
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" opened>
    <img
      class="avatar mat-elevation-z8"
      src="../../../assets/images/logo-admin.jpg"
    />

    <h4 class="name">{{connectedUser.username}} </h4>
    <p class="designation"> Administrateur</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/EspaceAdmin/profile">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/EspaceAdmin/donneurs">
      <mat-icon>person</mat-icon>
      <span>Gestion des donneurs</span>
    </button>
    <button mat-button class="menu-button" routerLink="/EspaceAdmin/associations">
      <mat-icon>people</mat-icon>
      <span>Gestion des associations</span>
    </button>
    <button mat-button class="menu-button" routerLink="/EspaceAdmin/categories">
      <mat-icon>tab</mat-icon>
      <span>Gestion des Categories</span>
    </button>
    <button mat-button class="menu-button" routerLink="/EspaceAdmin/actualites">
      <mat-icon>library_books</mat-icon>
      <span>Gestion des actualites</span>
    </button>
    <button mat-button class="menu-button" routerLink="/EspaceAdmin/Inquiry">
      <mat-icon>chat</mat-icon>
      <span>Gestion des Contact</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Déconnecter</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <div class="ctn">

        <div class="container" >
          <simple-notifications></simple-notifications>

          <div class="container-xl"  >
            <div class="table-responsive">
              <div class="table-wrapper">
                <div class="table-title">
                  <div class="row">
                    <div >
                      <h2>Gestion <b>Associations</b></h2>
                    </div>

                  </div>
                </div>
                <table id="dtBasicExample" class="table table-striped table-hover" >
                  <thead>
                    <tr>

                                <th scope="col" >Username</th>
                                <th scope="col" >nom</th>
                                <th scope="col" >siege</th>
                                <th scope="col" >domaine Actvite</th>
                                <th scope="col" >Telephone</th>
                                <th colspan="3">Action</th>
                              </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor = "let assoc of associations">

                      <td [width]="300">
                          {{assoc.username}}
                      </td>
                      <td [width]="300">
                         {{assoc.nom}}
                      </td>

            <td [width]="300">
                         {{assoc.siege}}
                      </td>
          <td [width]="300">
                        {{assoc.domaineActivite}}
                      </td>
              <td [width]="300">
                        {{assoc.telephone}}
                      </td>
                      <td [width]="300">


                    <a   (click)="openUpdate(update,assoc)" class="edit btn" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                        <a  (click)="openDelete(contentDelete, assoc._id)" class="delete btn" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>

                    </td>
                      </tr>


                  </tbody>
                </table>

              </div>
            </div>
          </div>



          </div>



        <ng-template #contentDelete let-modal>
          <div class="modal-header">
            <h4 class="modal-title">Confirm Delete</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h2>Are you sure you want to delete this client.</h2>
            <div class="border text-center">
              <button data-dismiss="modal" class="btn btn-danger" (click)="delete()">Yes, Delete!</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
          </div>
        </ng-template>




        <ng-template #update let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Modifier Association</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form #f="ngForm"  novalidate>
              <div class="form-group">
                <label for="nom" >Nom</label>
                <div class="input-group">
                  <input id="nom" class="form-control" [(ngModel)]="assoc.nom" name="nom">
                </div>
              </div>
              <div class="form-group">
                <label for="tel">Telephone</label>
                <div class="input-group">
                  <input id="tel" class="form-control" [(ngModel)]="assoc.telephone" name="tel">
                </div>
              </div>
              <div class="form-group">
                <label for="siege">Siege</label>
                <div class="input-group">
                  <input id="siege" class="form-control" [(ngModel)]="assoc.siege" name="siege" >
                </div>
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Annuler</button>
            <div class="border text-center">
              <button data-dismiss="modal" class="btn btn-info" (click)="modifier()" >Modifer</button>
              </div>
          </div>

        </ng-template>
</div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
