<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
 Charity For ALL
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" opened>
    <img
      class="avatar mat-elevation-z8"
      src="../../../assets/images/logo-admin.jpg"
    />

    <h4 class="name">{{connectedUser.username}} </h4>
    <p class="designation"> Administrateur</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/EspaceAdmin/donneurs">
      <mat-icon>person</mat-icon>
      <span>Gestion des donneurs</span>
    </button>
    <button mat-button class="menu-button" routerLink="/EspaceAdmin/associations">
      <mat-icon>people</mat-icon>
      <span>Gestion des associations</span>
    </button>
    <button mat-button class="menu-button" routerLink="/EspaceAdmin/categories">
      <mat-icon>tab</mat-icon>
      <span>Gestion des Categories</span>
    </button>
    <button mat-button class="menu-button" routerLink="/EspaceAdmin/actualites">
      <mat-icon>library_books</mat-icon>
      <span>Gestion des actualites</span>
    </button>
    <button mat-button class="menu-button" routerLink="/EspaceAdmin/Inquiry">
      <mat-icon>chat</mat-icon>
      <span>Gestion des Contact</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Déconnecter</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">


    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
